/* custome color pallet
logo hsl color match {145 100 19.2}
*/

:root {
  --main-hue: 145;
  --main-color: hsl(var(--main-hue) 100% 19.2%);
  --main-color-light: hsl(var(--main-hue) 100% 81%);
  --main-color-med: hsl(var(--main-hue) 100% 60%);
  --main-color-dark: hsl(var(--main-hue) 100% 8%);
  --main-color-hover: hsl(var(--main-hue) 100% 27%);
  --main-color-darker: hsl(var(--main-hue) 100% 0%);
  font-family: "Titillium Web", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3em;
}

.nav {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(rgba(10, 10, 10, 5));
}

.menuItems {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.menu {
  padding: 2vw;
}

.menuItems a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 1000;
  letter-spacing: 0.5px;
  /* transition: all 0.3s ease ; */
}
.menuItems a:visited {
  text-decoration: none;
  color: var(--main-color);
}

.menuItems a:hover {
  color: var(--main-color-hover);
}


.bkground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bkground2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 60vw;
  width: 100%;
  position: relative;
  z-index: 10;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 1));
}
.logo {
  margin: auto auto;
  max-width: 40vw;
  filter: drop-shadow(10px 10px 10px rgba(0, 20, 20, 1));
}

.stylest-area {
  width: 100%;
  height: 60vh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 1));
}

.arrow {
  top: 50%;
  height: 5vw;
  width: 5vw;
}

.stylest-area #left,
#right {
  /* top: 50%; */
  font-size: 5vw;
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 1));
}

.stylest-area #left {
  display: none;
  color: var(--main-color-med);
}

.stylest-area #right {
  color: var(--main-color-med);
}

.stylest-area #left:hover,
#right:hover {
  color: var(--main-color-hover);
}

.card-animation {
  height: 40vh;
  width: 50vh;
  overflow: hidden;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 5px var(--main-color-dark));
}

.card-container {
  position: relative;
  height: 40vh;
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 400ms ease-in-out;
}

.stylest-card {
  height: 40vh;
  width: 50vh;
  background-image: url("/images/cardBk.png");
  border: 1px solid var(--main-color-dark);
  border-radius: 10px;
  display: flex;

  justify-content: center;
  align-items: center;
  position: absolute;
}

.stylest-image {
  margin: 1rem;
  width: 40%;
  height: 80%;
  border-radius: 3px;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-card {
  position: relative;
  top: 5px;
  /* left: 10rem; */
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}

.stylest-name {
  padding: 0.5rem;
}

.stylest-spec {
  padding: 0.5rem;
}

.stylest-about {
  color: var(--main-color-light);
  padding: 1em 0.5em;
}

.stylest-text {
  font-size: 1em;
}

.stylest-area h3 {
  color: var(--main-color-light);
  font-weight: bold;
}

.stylest-area h6 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: var(--main-color-light);
  font-weight: bold;
}

.book-link {
  padding: 2em;
}

.stylest-area a {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--main-color-light);
  border-radius: 6px;
  padding: 1em 2em;
  margin-bottom: 1.5em;
  filter: drop-shadow(5px 5px 10px var(--main-color-darker));
}

.stylest-area a:hover {
  background-color: var(--main-color-hover);
}

.store-info {
  background-image: url("/images/parchmentBKG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.info-grid {
  margin: 2rem;
  font-size: 1.2rem;
}

.info-grid h1,
h3,
h4,
table {
   
  font-weight: bolder;
  color: var(--main-color);
  filter: drop-shadow(2px 2px 20px var(--main-color-darker));
}
.info-grid h3 {
  margin: auto;
}
.shop-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.shop-info a {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
}
.shop-info a:hover {
  color: var(--main-color-hover);
  font-weight: 600;
}
.store-hours {
  margin: auto;
  width: 90%;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.table-caption {
  text-align: center;
  margin-bottom: 0.25rem;
}
.store-hours td {
  text-align: center;
  padding: 2px 5px;
}

.social-media {
  font-size: 3em;
  margin-top: 2rem;
}

.social-media a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 1000;
  letter-spacing: 0.5px;
  transition: all 0.3s ease 0;
  filter: drop-shadow(2px 2px 20px var(--main-color-darker));
}

.social-media a:hover {
  color: var(--main-color-hover);
}

.social-media a:visited {
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
  .nav {
    display: none;
  }

  .logo {
    margin: 1em auto;
    max-width: 50vw;
  }
  .stylest-area {
    height: 700px;
  }
  .card-animation {
    height: 650px;
    width: 300px;
  }
  .card-container {
    height: 650px;
    width: 300px;
  }
  .stylest-card {
    width: 300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .stylest-image {
    width: 70%;
  }
  .side-card {
    position: static !important;
    top: auto;
    left: auto;
  }
  .store-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
  }
  .social-media {
    margin-bottom: 1em;
  }
}
